name: Daily Commit by 23f1003053@ds.study.iitm.ac.in

on:
  schedule:
    - cron: '0 18 * * *'
  workflow_dispatch:

jobs:
  commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Daily update by 23f1003053@ds.study.iitm.ac.in
        run: echo "$(date)" > STATUS.md
      - uses: EndBug/add-and-commit@v9
        with:
          message: 'Daily commit $(date)'
